header {
  padding: 40px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 10px 20px rgba(66, 86, 68, 0.2);
  transform: translateY(0);
  transition: all 0.5s;
  &.scroll {
    // position: relative;
    transform: translateY(-160px);
    // top:-160px;
  }
    ul {
      list-style: none;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        font-size: 1em;
        color: rgba(0,0,0,0.65);
      }
    }
    form {
      button, p {
        font-size: 1em;
        color: rgba(0,0,0,0.65);
        font-family: 'Crimson Text', serif;
        border: none;
        border-radius: 0;
        -webkit-border-radius:0px;
        background: transparent;
        -webkit-appearance:none;
      }
    }
  }